body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #e0aaff, #cda4e0); /* Pinkish-purple gradient background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

h1 {
    color: #5a2a7b;
}

.form-container {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

input {
    width: calc(100% - 22px); /* Adjust width to account for padding and border */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5a2a7b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #472067;
}

#message {
    margin-top: 20px;
    color: #d9534f; /* Red for error messages */
}
